<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">desmos</a>

        <div class="d-flex">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Math Tools
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Graphing Calculator</a></li>
                    <li><a class="dropdown-item" href="#">Scientific Calculator</a></li>
                    <li><a class="dropdown-item" href="#">Four Function Calculator</a></li>
                    <li><a class="dropdown-item" href="#">Matrix Calculator</a></li>
                    <li><a class="dropdown-item" href="#">Test Practice</a></li>
                    <li><a class="dropdown-item" href="#">Geometry Tool</a></li>
                    <p>
                        Download our apps in the Google Play Store and iOS App Store.
                    </p>

                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Class Room
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">For Teachers</a></li>
                    <li><a class="dropdown-item" href="#">For Students</a></li>
                    <li><a class="dropdown-item" href="#">Desmos Curriculum</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-transparent text-dark border-0" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Help Center</a></li>
                    <li><a class="dropdown-item" href="#">Accessibility</a></li>
                    <li><a class="dropdown-item" href="#">Assessments</a></li>
                    <li><a class="dropdown-item" href="#">Careers</a></li>
                    <li><a class="dropdown-item" href="#">Equity Principles</a></li>
                    <li><a class="dropdown-item" href="#">Blog</a></li>

                </ul>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-primary bg-transparent text-dark border-0">Log In</button>

            <button type="button" class="btn btn-primary">Sign Up</button>
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#heart-fill" />
            </svg>

        </div>
    </div>
</nav>