<div class="container-fluid">
    <footer class="row row-cols-5 py-5 my-5 bg-light d-flex">
        <div class="col">

        </div>
        <div class="col align-self-center">
            <p class="text-muted fs-1">desmos</p>
        </div>



        <div class="col">
            <h5 class="text-muted fs-6">COMPANY</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">About Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Team Desmos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Equity Principles</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Blog</a></li>
            </ul>
        </div>

        <div class="col">
            <h5 class="text-muted fs-6">PRODUCTS</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Classroom Activities</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Graphing Calculator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Scientific Calculator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Four Function Calculator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Matrix Calculator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Test Practice</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Geometry Tool</a></li>

            </ul>
        </div>

        <div class="col">
            <h5 class=" text-muted fs-6">RESOURCES</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Help Center</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Accessibility</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Assessments</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Partnership</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">API Docs</a></li>
            </ul>
        </div>

    </footer>
</div>