<p>
    Welcome to Desmos
</p>
<div>
    <div class="d-flex justify-content-center">
        <desmos-card1></desmos-card1>
        <desmos-card2></desmos-card2>
    </div>


    <div class="container-fluid d-flex justify-content-center">
        <div *ngFor="let contest of contests">
            <desmos-ContestFinalistCard img={{contest.img}} title={{contest.title}} artist={{contest.artist}}
                location={{contest.location}}>

            </desmos-ContestFinalistCard>
        </div>
    </div>

</div>
<desmos-footer>Loading...</desmos-footer>
<desmos-footer2>Loading...</desmos-footer2>