<div class="card ms-4 mb-3" style="max-width: 440px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/homepage-teacher.png" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title text-primary">Teachers</h5>
                <p class="card-text">Interactive and creative activities for your math class.</p>
                <div>
                    <button class="btn btn-primary" type="submit">Browse Activities</button>
                </div>
                <div>
                    <button class="btn btn-primary mt-1" type="submit">Teacher Sign-up</button>
                </div>
            </div>
        </div>
    </div>
</div>