<div class="container-fluid text-white-50 bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <div>
            <span class=text-muted>Contact Us feedback@desmos.com | </span>
            <svg class="bi" width="18" height="18" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#twitter"/>
              </svg>

            <span class=text-muted> Twitter</span>

        </div>
        <span class=text-muted>LegalTerms of Service | Privacy Policy</span>


        <span class="text-muted">Copyright ©2022 Desmos, Inc</span>

        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

    </footer>
</div>