<nav class="navbar navbar-dark bg-dark">
    <li class = "nav item">
        <svg class="bi mt-1" width="38" height="38" fill="white">
            <use xlink:href="assets/bootstrap-icons.svg#list" />
        </svg>
        <p class = "text-white fs-5 ms-2 mt-2">Untitled</p>
    </li>

    <li>
        <a class="navbar-brand fs-1" href="#">desmos</a>
    </li>

    <li class="nav item">
        <button type="button" class="btn btn-success me-2">Sign-up</button>
        <p class="text-muted pt-3"> or </p>
        <button type="button" class="btn btn-outline-light ms-2 me-4">Login</button>
    </li>
</nav>